*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 50%; }

@media only screen and (min-width: 600px) {
  font-size: 62.5%; }

.limit-reached {
  color: red; }

.new-error {
  color: red;
  font-size: 1.2rem;
  font-weight: 700; }

.tweet-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  opacity: .3;
  border-top: 1px solid #ddd; }
  .tweet-end__image {
    width: 60px;
    height: 60px; }
  .tweet-end__text {
    font-size: 1.7rem; }

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif; }

main.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 8rem; }

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100vw;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 3.2rem;
  z-index: 10;
  display: flex;
  justify-content: space-between; }
  #nav-bar .logo {
    height: 8rem;
    width: 8rem;
    margin-right: 1rem; }
  #nav-bar .header {
    font-size: 3.2rem;
    align-self: center;
    display: none; }
  @media only screen and (min-width: 600px) {
    #nav-bar .header {
      display: block; } }
  #nav-bar .nav-bar__logo {
    display: flex; }
  #nav-bar .nav-bar__compose {
    margin: 1rem 0rem;
    font-size: 2rem;
    padding: .7rem 1.7rem;
    border: 1px solid #444;
    border-radius: .8rem;
    color: #00a087;
    cursor: pointer;
    transition: .2s ease-in-out;
    outline: none; }
    #nav-bar .nav-bar__compose:hover {
      color: #fff;
      background-color: #00574a;
      outline: none; }

section.new-tweet {
  margin: 5rem 3.2rem 3rem 3.2rem;
  padding: .5rem 2rem 2rem 2rem;
  background-color: #ddd;
  border-radius: .8rem;
  display: none; }
  section.new-tweet h2 {
    font-size: 2.7rem;
    border-bottom: 1px solid #666;
    font-weight: 700; }
  section.new-tweet textarea {
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1.7rem;
    resize: none;
    height: 10rem; }
  section.new-tweet input {
    font-size: 1.6rem;
    padding: .4rem .6rem; }
  section.new-tweet .counter {
    align-self: center; }
  section.new-tweet .new-tweet__submit {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    font-size: 1.5rem; }

.tweet {
  display: flex;
  flex-direction: column;
  border-radius: .8rem;
  margin: 3.2rem;
  border: 1px solid #ccc;
  opacity: .8;
  transition: .2s ease-in; }
  .tweet__header {
    display: flex;
    padding: .8rem;
    background-color: #ddd;
    height: 8rem;
    /* align-items: flex-start; */ }
  .tweet__image {
    height: 6rem;
    widows: 6rem;
    border-radius: .8rem;
    margin-right: 1rem; }
  .tweet__name {
    margin: 0;
    font-size: 2rem;
    align-self: flex-start; }
  .tweet__handle {
    flex-grow: 1;
    text-align: right;
    align-self: center;
    font-size: 1.6rem;
    margin-right: 1rem; }
  .tweet__text {
    height: 4rem;
    padding: 1.8rem;
    font-size: 1.8rem;
    word-wrap: break-word; }
  .tweet__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem; }
  .tweet__icon i {
    font-size: 1.5rem;
    margin-right: .5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer; }
  .tweet__icon {
    opacity: 0;
    transition: .2s ease-in; }
  .tweet:hover {
    opacity: 1; }
    .tweet:hover .tweet__icon {
      opacity: 1; }
  .tweet__icon i:hover {
    color: #00a087; }
  .tweet:last-of-type {
    margin-bottom: 7rem; }
